[2016-06-29 17:02] civanch opened #10 "New Geant4 version 10.2p02"
A new Geant4 patch is available 10.2p02. It is needed to create a new branch in cms-externals/geant4.

The Geant4 distribution page: http://cern.ch/geant4/support/download.shtml

[2016-06-29 17:04] cmsbuild commented on #10
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-29 17:05] civanch commented on #10
@smuzaffar , @degano , @iahmad-khan , I make an issue instead of PR because likely have no permission to create new branches. The new branch likely should have a name "cms/4.10.02.p02"

[2016-07-03 15:20] civanch commented on #10
@smuzaffar , @degano , @iahmad-khan , @davidlange6, how we can progress with this request?

[2016-07-03 19:33] ghost commented on #10
@iahmad-khan ping!

[2016-07-04 11:32] iahmad-khan commented on #10
@civanch the version updates  for data files, from the source page are as follows:

Versions updates for data files:
**gcc530next**                ->                        **gcc530**          ->                                 **current source**
eant4-G4NDL 4.4              ->              geant4-G4NDL 4.4        ->                       G4NDL4.5
geant4-G4EMLOW 6.35            ->     geant4-G4EML

[2016-07-04 12:21] civanch commented on #10
@iahmad-khan , you are right! This is the time when we should update data as well. May be we should be careful with G4NDL4.5 which is not used by CMS in production but may be larger than G4NDL4.4. Also may be these data already exit within list of externals but old one are linked to the DEVEL branch.

[2016-07-04 13:17] iahmad-khan commented on #10
@civanch in gcc530 branch it is the same. table updated for gcc530. Can you figure out , what out of these files ,  we need to update , so that i can do it accordingly. thanks.

[2016-07-04 15:02] civanch commented on #10
@iahmad-khan , for consistency we need update all files as you have identified.

[2016-07-18 07:56] #10 closed, assigned to nobody

[2017-04-04 07:56] civanch opened #16 "Create a new branch cms/4.10.03.p01"
A new branch for Geant4 is needed.

[2017-04-04 07:57] cmsbuild commented on #16
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-04 08:07] davidlt commented on #16
Should be done now: https://github.com/cms-externals/geant4/tree/cms/4.10.03.p01
It now matches plain "4.10.03.p01" (imported from http://cern.ch/geant4/support/source/geant4.10.03.p01.tar.gz)

Thus it does not have changes from the previous GEANT4 branches.

[2017-04-04 08:18] civanch commented on #16
@davidlt , thanks for the code! How we should update data files? Type the list of modified files in this issue?

[2017-04-04 08:22] davidlt commented on #16
data files like G4NEUTRONXS?

https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_9_1_X/gcc700/geant4-G4NEUTRONXS.spec
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_9_1_X/gcc700/geant4-data-rpm.file

Those are fetched from the official source and we never had any custom modifications IIRC.

What would you like to change?

[2017-04-04 08:50] civanch commented on #16
Yes, for this release we need to copy to CMS data area several new datasets:
   G4EMLOW6.50
   G4PhotonEvaporation4.3.2
   G4RadioactiveDecay5.1.1
   G4ENDSDFSTATE2.1
Please, note, that the plan is to update to this new Geant4 in the DEVEL branch (not in 9_1_X), we will need change spec configurations for the DEVEL branch when these new datasets will be integrated into CMSSW.

[2017-04-04 09:40] smuzaffar commented on #16
@civanch , we can update geant4 data fils along wth geant4 in devel IBs. I would suggest to make a cmsdist PR along with geant4 and G4data changes.

[2017-04-04 09:49] civanch commented on #16
Yes, I will do a PR when #18183 will be accepted (this is a resolution of a small inconsistency between current CMSSW and newer G4). Without this it will not compile.

Concerning data, I suspect that when making cmsdist PR data the files should be already copied to the list of externals. Or it can be done simultaneously?

[2017-04-04 10:20] smuzaffar commented on #16
the data can be updated simultaneously. All you need is to update the geant4-*.spec files (e.g geant4-G4EMLOW.spec) in the same PR.

[2017-05-30 11:32] #16 closed, assigned to nobody

[2017-07-07 08:28] civanch opened #19 "Make a new branch for Geant4 10.4"
It was agreed to start examine Geant4 10.4 for possible use in 2018. For that a new branch is needed. It is planned update it after each Geant4 reference tag. The initial version of Geant4 is available as 10.4beta release: https://github.com/Geant4/geant4/releases

New version of data files are required G4EMLOW6.54 and G4PhotonEvaporation5.0, download page:
https://geant4.web.cern.ch/geant4/suppor

[2017-07-07 08:28] cmsbuild commented on #19
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-07-07 08:34] smuzaffar commented on #19
@iahmad-khan , can you please create cms/4.10.04.b01 branch based on geant4 tar file mentioned in above link?

[2017-07-07 10:21] iahmad-khan commented on #19
@civanch , the new branch is here , https://github.com/cms-externals/geant4/tree/cms/4.10.04.b01 , do you need to put something on top of it before we update it in cmsdist ?

[2017-07-07 10:38] civanch commented on #19
@iahmad-khan , thanks , I just will try compile against it to see if there are issues in CMSSW sub-libraries or not (I expect nothing or minor problems), after that a change for cmsdist for the ROOT branch may be done. Will notify when ready.

This version of Geant4 strongly requires change of data files G4EMLOW6.54 and G4PhotonEvaporation5.0, which should be added to externals as well.

[2017-08-29 17:42] civanch commented on #19
Is done

[2017-08-29 17:42] #19 closed, assigned to nobody

[2017-08-29 17:48] civanch opened #21 "Update Geant4 version for development branches"
We need update ROOT6 development branch with the new reference tag of Geant4 - new PR #19 is created. No change in data files.

For the DEVEL branch needs to be updated for a new patch release 10.3p02. It is available in GitHub: https://github.com/Geant4/geant4/releases
No change in data files for this patch compared with 10.3p01

[2017-08-29 17:48] cmsbuild commented on #21
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-12 20:01] smuzaffar opened #22 "identical CMakeLists.txt files in 4.10.04.b01"
@civanch , looks like we have a wrong cmake file source/CMakeLists.txt. It used to look like this
https://github.com/cms-externals/geant4/blob/cms/4.10.02.p02/source/CMakeLists.txt but now we have two idential file

https://github.com/cms-externals/geant4/blob/cms/4.10.04.b01/source/CMakeLists.txt
https://github.com/cms-externals/geant4/blob/cms/4.10.04.b01/CMakeLists.txt

copying https://github.c

[2017-09-12 20:02] cmsbuild commented on #22
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-13 08:59] civanch commented on #22
@smuzaffar , in geant4 these files are different, likely something happens with the patch.
In the area where the patch was prepared both in ref07 and previous these files are identical, while if one clone a fresh variant geant4 from previous git branches they are different. Likely, it is my mistake but not clear how it is possible to do technically. If such happens we cannot trust to this patch/PR

[2017-09-13 09:26] smuzaffar commented on #22
thanks, I have now pushed the ref-08 change for https://github.com/cms-externals/geant4/tree/cms/4.10.04.b01

[2017-09-13 09:26] #22 closed, assigned to nobody

[2017-09-14 17:23] civanch commented on #21
@smuzaffar , thanks for ROOT6 branch update, this version of G4 is working fine.

[2017-09-14 17:37] civanch commented on #21
@smuzaffar,  to complete synchronising Geant4 ref-08 also extra data set G4EMLOW7.1 should be integrated to CMS data files. This modification will not affect standard CMS simulation but may affect it next next reference tags. The tar is available at afs: ~vnivanch/public/G4EMLOW7.1.tar.gz

[2017-09-19 08:47] smuzaffar commented on #21
@mrodozov , can you please take care of it.

[2017-09-19 10:01] smuzaffar commented on #21
@civanch , G4EMLOW is updated  https://github.com/cms-sw/cmsdist/pull/3426
By the way, we took the G4EMLOW.7.1.tar.gz dircetly from http://geant4.cern.ch/support/source/G4EMLOW.7.1.tar.gz

[2017-09-19 10:01] #21 closed, assigned to nobody

[2017-09-19 10:08] civanch commented on #21
@smuzaffar , @mrodozov , Thanks!

[2017-09-19 18:01] civanch opened #23 "Switch DEVEL branch to Geant4 10.3p02"
Geant4 10.3p02 includes several technical fixes important for MT run with many threads. This patch is available at https://github.com/Geant4/geant4/releases

No change of Geant4 data files is needed. This Geant4 version should be added only to the DEVEL branch.

[2017-09-19 18:02] cmsbuild commented on #23
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-09-21 05:38] smuzaffar commented on #23
assign externals

[2017-09-21 05:38] cmsbuild commented on #23
New categories assigned: externals

@smuzaffar,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-09-21 12:10] mrodozov commented on #23
@civanch the new geant4 version is now available here https://github.com/cms-externals/geant4/tree/cms/4.10.03.p02 and the tests could be followed here https://github.com/cms-sw/cmsdist/pull/3439

[2017-09-21 12:26] smuzaffar commented on #23
thanks @mrodozov

[2017-09-21 12:26] #23 closed, assigned to nobody

[2017-10-02 15:04] civanch opened #24 "Switch ROOT6 branch to the new reference version of Geant4 10.3ref09"
A new reference version of Geant4 is available 10.3ref09: ~vnivanch/public/geant4-10-03-ref-09.tar.gz

This version may be directly installed into 10.4beta branch and is needed for ROOT6 IB only. No new data files are provided, only source code.

[2017-10-02 15:06] cmsbuild commented on #24
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-10-02 15:45] mrodozov commented on #24
@civanch , the new version is available in the https://github.com/cms-externals/geant4/commits/cms/4.10.04.b01 branch and the test could be followed here https://github.com/cms-sw/cmsdist/pull/3471

[2017-10-02 15:48] civanch commented on #24
@mrodozov , thanks!

[2017-10-10 11:21] #24 closed, assigned to nobody

[2017-12-13 19:01] civanch opened #27 "Create a branch for Geant4 10.4"
A new version of Geant4 is available. Because it is a new reference version which may be used for 2018 a new branch for it would be needed. It will be first used in 10_0_ROOT6 IB for testing.

The code is available: ~vnivanch/public/geant4-10-04/geant4.10.4.tar.gz
or
~vnivanch/public/geant4-10-04/geant4

It is needed to take the source from this place and not from Geant4 official git repository, b

[2017-12-13 19:02] cmsbuild commented on #27
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2017-12-14 19:49] smuzaffar commented on #27
@mrodozov , can you please take care of it

[2017-12-15 10:32] mrodozov commented on #27
The new branch is here https://github.com/cms-externals/geant4/tree/cms/4.10.04
I'm testing it locally and then it will go on cmsdist as PR.
M.

[2018-04-17 07:57] mrodozov commented on #27
I'm closing this

[2018-04-17 07:57] #27 closed, assigned to nobody

[2018-09-19 08:12] civanch opened #35 "New branch for validation of Geant4 10.5"
The tar file with the development version of Geant4 is available at url:
https://cernbox.cern.ch/index.php/s/phtIQEYQc6HbOGn

Extra data files are required from /cvmfs/geant4.cern.ch/share/data :
1) G4NEUTRONXS2.0
2) G4EMLOW7.7

The new version of Geant4 will be used for validation for long time, so we will need and separate CMSSW development branch.

[2018-09-19 08:12] cmsbuild commented on #35
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-09-24 11:40] smuzaffar commented on #35
@civanch , the link is not working. Can you please put the geant4 tar file in some public some (afs or on any cmsdev machine)?

[2018-09-24 13:20] civanch commented on #35
@smuzaffar , sorry, afs:
~vnivanch/public/geant4-10-04-ref-07/geant4-10-04-ref-07a.tar.gz

updated link to CERNBOX:
https://cernbox.cern.ch/index.php/s/apFtkfJsvlUG4Jw

[2018-09-26 13:59] mrodozov commented on #35
We tried building it using the latest vecgeom commit available:
https://gitlab.cern.ch:8443/VecGeom/VecGeom/commit/6a52158ad0e46407c8cb710e0159f449069506b3
and it failed with:
[code]

[2018-09-26 14:08] smuzaffar commented on #35
@mrodozov thanks.
@civanch , do we need to use some special version of VecGeom to build new geant4? Currently we have vecgeom v00.05.00 in cms externals. Mircho tried updating it to tip of master branch but geant4 still fails with the error mentioned above.

[2018-09-26 14:12] civanch commented on #35
@mrodozov , @smuzaffar , would it be possible to disable VecGeom in this branch? It is known, that an updated version of VecGeom is needed for this version of Geant4 but in reality there is no good version of VecGeom for this particular version of Geant4. It will be available later in the next iteration.

[2018-09-27 09:53] smuzaffar commented on #35
@civanch , we can drop vecgeom for geant4 but it is directly used in cmssw too ( https://github.com/cms-sw/cmssw/search?q=vecgeom&unscoped_q=vecgeom ) , so no idea what will happen is vecgeom and geant4 both are loaded in one process?

By the way, while building this version of geant4 I see that it mentions the follow data packages too which are not part of our distribution, do we need to bundle t

[2018-09-27 10:15] civanch commented on #35
@smuzaffar , Experts promise to provide VecGeom ~ in 2 weeks time just after migration of Geant4 development from svn to git. This is nearly achieved but exact date is not known. So, if it is possible to build a branch without VecGeom, so Geant4 will be built without VecGeom, VecGeom will not compile.
If it is too complicate we are waiting for few weeks.

Data files are a separate thing, which may

[2018-09-27 10:19] smuzaffar commented on #35
thanks, cmsdist PR https://github.com/cms-sw/cmsdist/pull/4380 includes the geant4 update (with vecgeom dependency removed). I will test it against 10.3.GEANT4.X IB (once available).

[2018-10-02 07:25] #35 closed, assigned to nobody

[2018-12-12 16:22] civanch opened #36 "Switch GEANT4 branch to Geant4 10.5"
A new Geant4 10.5 is available ; https://github.com/Geant4/geant4/releases

This new version requires new data files:
G4NDL4.5          - old dataset
G4EMLOW7.7
G4PhotonEvaporation5.3,
G4RadioactiveDecay5.3
G4SAIDDATA2.0
G4PARTICLEXS1.1  - new external
G4ABLA3.1,    - old dataset
G4INCL1.0
G4ENSDFSTATE2.2 - old dataset

Data are available at   http://geant4.web.cern.ch/support/download

[2018-12-12 16:23] cmsbuild commented on #36
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-13 07:27] smuzaffar commented on #36
@civanch , there already a cmsdist Pr https://github.com/cms-sw/cmsdist/pull/4577/files to update geant4. Ok I see we are missing new data G4PARTICLEXS 1.1. what about two other data sets
- G4NEUTRONXS 2.0
- G4RealSurface 2.1.1
should we keep them in the distribution or they are not needed any more?

[2018-12-13 09:28] civanch commented on #36
@smuzaffar , G4NEUTRONXS2.0 is needed for previous Geant4, since 10.5 it will not be used. G4RealSurface is needed for optical photon simulations and was never used by CMSSW. The dataset is small, it is up to you to include it now or not. It may be, that it will be never used.

[2019-02-12 13:22] civanch commented on #36
done long ago

[2019-02-12 13:22] #36 closed, assigned to nobody

[2019-02-12 13:28] civanch opened #37 "New Geant4 10.4patch03 version"
New Geant4 10.4p03 is available

in github: https://github.com/Geant4/geant4/releases/tag/v10.4.3
in gitlab: https://gitlab.cern.ch/geant4/geant4-dev/tree/geant4-10-04-patch-03
at download page: http://geant4.web.cern.ch/support/download_archive

No change in data files.

It is expected to be used for Run-2 legacy simulation.

[2019-02-12 13:28] cmsbuild commented on #37
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-02-16 11:55] civanch commented on #37
@smuzaffar , new branch name likely should be cms/10.04.p03

[2019-02-16 15:04] fabiocos commented on #37
We have agreed with PPD/PdmV to have a parallel build CMSSW_10_5_0_pre2_g4104p3 to test this new version vs the present setup

[2019-02-18 08:46] smuzaffar commented on #37
@civanch , we now have https://github.com/cms-externals/geant4/commits/cms/v10.4.3 based on https://github.com/Geant4/geant4/releases/tag/v10.4.3 . I cherry-pick only two of our changes (needed for  from https://github.com/cms-externals/geant4/commits/cms/4.10.04
- https://github.com/cms-externals/geant4/commit/f5a27d9b0a47f2a40fc27db06a3851685005bf72
- https://github.com/cms-externals/geant4/comm

[2019-02-18 09:28] civanch commented on #37
@smuzaffar , thanks! these "atomic" modifications are unavoidable. I think we can go forward.

[2019-02-19 14:31] civanch commented on #37
done

[2019-02-19 14:31] #37 closed, assigned to nobody

[2019-02-19 14:35] smuzaffar commented on #37
@civanch , by the way, last night we had built an IB ( CMSSW_10_5_GEANT104_X_2019-02-18-2300 ) with this version of geant4. Every thing looks good https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_10_5_X for this IB. It is available for slc7_amd64_gcc700 (in case you want to run any additional tests).

[2019-02-19 14:40] civanch commented on #37
@smuzaffar , thanks, a simple test is running. We with Sunanda will run also physics tests, this will need more time.

[2019-04-06 11:03] civanch opened #38 "Switch GEANT4 branch from 10.5 to recent reference tag 10.5ref03"
@smuzaffar , a new reference tag of Geant4 10.5ref03 is available: https://gitlab.cern.ch/geant4/geant4-dev/tree/geant4-10-05-ref-03

If this link does not work I will make a tar file.

It is expected, that performance with updated Geant4 will be a bit changed. We need to make a new branch 10.5ref03 in cms-external/geant4 and after switch GEANT4 IB to this version. No change in data files are need

[2019-04-06 11:04] cmsbuild commented on #38
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-07 16:09] fabiocos commented on #38
@civanch this is of course meant for 11_0_X, not for UL reprocessing, right?

[2019-04-08 08:30] smuzaffar commented on #38
@civanch , I can not access  https://gitlab.cern.ch/geant4/geant4-dev repository. Can you please make a tar file.
@fabiocos , for now we are only going to add this in special GEANT4 IBs.

[2019-04-08 09:39] civanch commented on #38
@fabiocos , this is even may be after 11_0 - it is a rolling validation of Geant4 developments.

[2019-04-08 09:53] civanch commented on #38
@smuzaffar , please, try out : https://cernbox.cern.ch/index.php/s/d86g9lrqpbR1kOD

[2019-04-09 14:10] smuzaffar commented on #38
thanks @mrodozov for https://github.com/cms-sw/cmsdist/pull/4861

[2019-04-09 14:10] #38 closed, assigned to nobody

[2019-06-30 13:54] civanch opened #39 "Switch Geant4 branch to Geant4 10.6beta"
A new Geant4 public version is available : https://github.com/Geant4/geant4/releases
We need to use this new version in GEANT4 special IB for early testing.

This beta-release require modifications in other external packages:
New dataset G4PARTICLEXS2.0: http://geant4.web.cern.ch/support/download_beta
New CLHEP version 2.4.1.2: http://proj-clhep.web.cern.ch/proj-clhep/clhep23.html
New VecGeom: htt

[2019-06-30 13:54] cmsbuild commented on #39
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-10 08:24] mrodozov commented on #39
@civanch the IB is building and will be available later today, I'm closing this as resolved

[2019-07-10 08:24] #39 closed, assigned to nobody

[2019-09-02 18:06] civanch opened #40 "Switch GEANT4 branch to the new reference version Geant4 10.5ref08"
A new Geant4 reference version is available : ~vnivanch/public/geant4-10-05-ref-08
This Geant4 version includes main development for 2019.
We need to use this new version in GEANT4 special IB for early testing.

This beta-release require modifications in other external packages:
New dataset G4PARTICLEXS2.1: ~vnivanch/public/G4PARTICLEXS2.1
New VecGeom: https://gitlab.cern.ch/VecGeom/VecGeom/tree/v

[2019-09-02 18:07] cmsbuild commented on #40
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-18 17:50] civanch commented on #40
Done a week ago and is working fine.

[2019-09-18 17:50] #40 closed, assigned to nobody

[2019-11-12 09:59] civanch opened #41 "Switch GEANT4 branch to the new reference version Geant4 10.6cand00"
A new Geant4 reference version is available : ~vnivanch/public/geant4-10-06-cand-00/geant4 or
https://cernbox.cern.ch/index.php/s/Tn5QBVWxnY3hwEc

This Geant4 version is nearly 10.6 release, which is scheduled for December,6.
We need to use this new version in GEANT4 special IB for early testing in order to feedback.

This release require modifications in other external datasets:
G4EMLOW7.9 : http

[2019-11-12 10:00] civanch commented on #41
@smuzaffar , @bsunanda, please have a look.

[2019-11-12 10:00] cmsbuild commented on #41
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-12 10:05] smuzaffar commented on #41
assign externals

[2019-11-12 10:05] cmsbuild commented on #41
New categories assigned: externals

@smuzaffar,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-12 10:20] smuzaffar commented on #41
+externals
A new branch cms/4.10.06cand00 has been created using ~vnivanch/public/geant4-10-06-cand-00/geant4 . PR https://github.com/cms-sw/cmsdist/pull/5344 includes these changes.

[2019-11-12 10:20] #41 closed, assigned to nobody

[2019-11-12 10:20] cmsbuild commented on #41
This issue is fully signed and ready to be closed.

[2019-11-12 15:32] bsunanda commented on #41
I believe one need to use VecGeom version 1.1.4 rather than 0.5.0 which we have been using in the standard builds.
________________________________
From: Malik Shahzad Muzaffar [notifications@github.com]
Sent: 12 November 2019 11:20
To: cms-externals/geant4
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-externals/geant4] Switch GEANT4 branch to the new reference version Geant4 10.6cand00 (#41)

+

[2019-11-12 16:43] smuzaffar commented on #41
@bsunanda , GEANT4 IBs are already using VecGeom v1.1.4

[2019-11-12 16:47] bsunanda commented on #41
That is great. Can you let me know the name of the build?
________________________________
From: Malik Shahzad Muzaffar [notifications@github.com]
Sent: 12 November 2019 17:43
To: cms-externals/geant4
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-externals/geant4] Switch GEANT4 branch to the new reference version Geant4 10.6cand00 (#41)

@bsunanda<https://github.com/bsunanda> , GEANT4 IBs are al

[2019-12-09 15:23] civanch opened #42 "Switch GEANT4 branch to Geant4 10.6"
A new Geant4 reference version is available : ~vnivanch/public/geant4-10-06/geant4

We need to use this new version in GEANT4 special IB.

This release require modifications in other external datasets:
PhotonEvaporation5.5 : ~vnivanch/public/PhotonEvaporation5.5
CLHEP version 2.4.1.3: https://gitlab.cern.ch/CLHEP/CLHEP/tree/CLHEP_2_4_1_3
VecGeom v1.1.5: https://gitlab.cern.ch/VecGeom/VecGeom/tree/

[2019-12-09 15:23] cmsbuild commented on #42
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-12-11 08:51] smuzaffar commented on #42
@civanch , I can not access your ~vnivanch/public/geant4-10-06/geant4 . Can we just get it from https://github.com/Geant4/geant4/releases or do you have any changes on top of it in your area?

[2019-12-11 09:50] civanch commented on #42
@smuzaffar , unfortunately, there are to fixes (pure numerical for rare division by zero and precision lost) on top of the release. For some reason all cmake and gmake related files have strong permissions in this directory.
I will redo preparation  from scratch and let you know when ready.

[2019-12-11 10:36] smuzaffar commented on #42
I think it is better to create a new branch using official geant4 sources and then we can apply the patches via PR

[2019-12-11 10:41] smuzaffar commented on #42
@civanch , https://github.com/cms-externals/geant4/tree/cms/v10.6.0 is based on official geant4 tag https://github.com/Geant4/geant4/tree/v10.6.0 . Can you make a PR with additional changes? Or if yor provide me a tar.gz then I can do a diff and apply changes myself

[2019-12-11 10:43] fabiocos commented on #42
I agree it is better to have a clean start, and track whatever addition on top of that in a transparent way

[2019-12-11 11:12] civanch commented on #42
@smuzaffar , yes, I agree with this, indeed this would be more transparent.

[2019-12-12 09:57] smuzaffar commented on #42
@civanch , do you have your updates? As a wrote, just provide me a tar with and I can make a PR

[2019-12-12 10:33] civanch commented on #42
@smuzaffar , thanks, I will try making PR, simply missed that the branch is already there.

[2019-12-18 07:54] smuzaffar commented on #42
this has been integrated in geant4 external repo now. once cms-sw/cmssw#28637 is merged then we can move forward with geant4 10.6 integration in CMSSW GEANT4 IBs.

[2019-12-18 07:54] #42 closed, assigned to nobody

[2020-02-14 18:23] civanch opened #44 "Update GEANT4 IB with Geant4 10.6 patch01"
The first patch to Geant4 10.6 is available: https://github.com/Geant4/geant4/releases

It requires  updated data files G4LEDATA, which can be taken from

~vnivanch/public/G4EMLOW7.9.1

This Geant4 version is expected to be merged to the master when validated. For the time being, it needs to be added to GEANT4 IB only.

[2020-02-14 18:23] cmsbuild commented on #44
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-18 07:17] smuzaffar commented on #44
geant4 10.6.1 is now here https://github.com/cms-externals/geant4/tree/cms/v10.6.1 . CMs fix https://github.com/cms-externals/geant4/pull/43 ( https://github.com/cms-externals/geant4/pull/43 ) has already been merged upstream. So we do not have to patch it any more.

We will update cmsdist to integrate it in GEANT4 IBs.

[2020-02-18 07:21] smuzaffar commented on #44
cmsdist PR to integrate 10.6.1 is https://github.com/cms-sw/cmsdist/pull/5562

[2020-02-18 07:21] #44 closed, assigned to nobody

[2020-03-03 16:08] civanch opened #45 "Migrate GEANT4 branch to the updated version of VecGeom 1.1.6"
Updated version of VecGeom v1.1.6: https://gitlab.cern.ch/VecGeom/VecGeom/tree/v1.1.6
includes important fix of G4CutTube used in PIxel and other fixes.

This version should be used in GEANT4 branch and also included into special build to test Geant4 10.6p01.

[2020-03-03 16:08] cmsbuild commented on #45
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-05 16:47] cmsbuild commented on #45
The tests are being triggered in jenkins.
Tested with other pull request(s) cms-sw/cmsdist#5620,cms-sw/cmssw#29108

[2020-03-12 21:26] smuzaffar commented on #45
@civanch , new version of vecgeom is now integrated. New IB of GEANT4 should have it

[2020-03-12 21:26] #45 closed, assigned to nobody

[2020-05-29 16:09] civanch opened #46 "Update Geant4 to the version 10.6p02"
New Geant4 patch 10.6p02 is available. It includes only technical fixes, at least, one is important for CMS. It is expected no change of simulation histories for low statistics. Patch may be uploaded from url:

https://github.com/Geant4/geant4/releases

It is expected to use this both in GEANT4 branch and 11_2_X.

[2020-05-29 16:09] cmsbuild commented on #46
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-02 15:03] civanch commented on #46
+1

[2020-06-29 19:25] #46 closed, assigned to nobody

[2020-06-29 19:31] civanch opened #47 "New Geant4 release 10.7beta for the GEANT branch"
New Geant4 release 10.7beta is available. It includes ongoing Geant4 developments toward 10.7 version to be released in December.  It may  be uploaded from url:

https://github.com/Geant4/geant4/releases

It is expected to use this only in GEANT4 branch. It is also needed to update VecGeom package with v1.1.7: https://gitlab.cern.ch/VecGeom/VecGeom/tree/v1.1.7

VecGeom modifications are in cmake,

[2020-06-29 19:31] cmsbuild commented on #47
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-30 09:51] smuzaffar commented on #47
@mrodozov , can you please take care of it?

[2020-07-01 07:29] smuzaffar commented on #47
this has been integrated for GEANT4 Ibs

[2020-07-01 07:29] #47 closed, assigned to nobody

[2020-07-07 15:35] smuzaffar commented on #46
@civanch , is this is Geant4 patch you were mentioning during the ORP?
We had this in GEANT4 IBs for few days ... right? Do you want to have a new G4 IBs with this to see the regression and then finally merged it in 11.2.X master IB?

[2020-07-07 16:27] civanch commented on #46
@smuzaffar , yes, this patch has been tested by me and Sunanda. It provides very similar results as 10.6p01 but there is difference in regression, so before merging to the master it would be correct making an extra IB 11_2_0_pre2_geant4_10.6p02

[2020-10-12 10:49] civanch opened #48 "Switch GEANT4 branch to Geant4 10.6ref09"
A new Geant4 reference version is available : ~vnivanch/public/geant4-10-06-ref-09
This Geant4 version includes main development for 2020.
We need to use this new version in GEANT4 special IB for early testing.

[2020-10-12 10:50] cmsbuild commented on #48
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-21 08:16] mrodozov commented on #48
is this change to be put on the 10_6 branch:
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/g4_106/geant4.spec
or on the branch that is currently using geant4 10.7 and vecgeom 1.1.7 ?
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/geant4/geant4.spec

[2020-10-21 08:22] civanch commented on #48
@mrodozov , only on the branch with geant4 10.7 and vecgeom 1.1.7.
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/geant4/geant4.spec

[2020-10-21 08:24] mrodozov commented on #48
So this is 10.7 release then, and I should better put it's name 10.7.something , or I keep the branch name 10.6.9 ?

[2020-10-21 08:27] civanch commented on #48
10.6.9 is more precise - this is used by the G4 team.

[2020-10-21 08:28] mrodozov commented on #48
Understood. It's clear now. Thank you

[2020-10-22 20:57] #48 closed, assigned to nobody

[2020-10-29 22:44] civanch opened #49 "Switch GEANT4 IB to Geant4 10.6ref10"
A new Geant4 reference version is available : ~vnivanch/public/geant4-10-06-ref-10
This Geant4 version includes main development for 2020.
We need to use this new version in GEANT4 special IB for early testing.

This time we would ask to build GEANT4 IB without usage of VecGeom.

[2020-10-29 22:44] cmsbuild commented on #49
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-02 11:30] civanch commented on #49
@mrodozov , @smuzaffar , we need to test new Geant4 version in order to be able promptly feedback Geant4. In parallel, this version if built without VecGeom will help testing DD4Hep - it is even more urgent.

[2020-11-02 12:03] mrodozov commented on #49
is this change to be put on
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/g4_106/geant4.spec
or on the branch that is currently using geant4 10.6.9 ?
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/geant4/geant4.spec

[2020-11-02 12:08] civanch commented on #49
@mrodozov , on the last one substituting 10.6.9. What is essential for DD4Hep validation is to disable VecGeom.

[2020-11-02 13:28] smuzaffar commented on #49
@mrodozov , this shoudl go in to https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/geant4/geant4.spec branch (where we currently have geant4 10.6.9)

[2020-11-02 14:07] mrodozov commented on #49
Yes, this is clear now.
@civanch , since when the cmake flag
-DGEANT4_USE_USOLIDS="all"
was expecting VecGeom should be available, I'd assume it shouldn't be used.
When I used it it searched for vecgeom and the config fails.
Instead I used
-DGEANT4_USE_USOLIDS-ADVANCED:INTERNAL=1
and it builds , but I can't find example cmake configs on github or gitlab .
Do you know more on that, is this a right

[2020-11-04 11:25] mrodozov commented on #49
@civanch we have now this changes integrated in the last IB,
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_2/2020-11-03-2300?selectedArchs=slc7_amd64_gcc820&selectedFlavors=GEANT4_X&selectedStatus=failed
14 relvals failing (looks like due to the changes)

[2020-11-04 11:56] civanch commented on #49
@mrodozov , I am in contact with geometry experts of Geant4. This problem is known in Run-3 geometry, which we already fixed but not yet propagated to GT. But this should not appears in Run1 and Run2 WFs.

[2020-11-04 13:08] civanch commented on #49
@mrodozov , I am running this new IB and it is working fine to me no problems, no crash. I do not yet understand if VecGeom is used or not used. It is a contradiction to what happens in standard IB WFs. What is confirmed: 10.6ref10 was built and runs indicate, that it is used.

[2020-11-04 13:29] mrodozov commented on #49
@civanch the geant4 is built without vecgeom but I see I had to remove the vecgeom references from the toolfiles for scram

[2020-11-08 15:19] mrodozov commented on #49
@civanch after https://github.com/cms-sw/cmsdist/pull/6370 the last IB doesn't include vecgeom references anyhow.

[2020-11-08 17:13] civanch commented on #49
@mrodozov , thanks!

[2020-11-08 17:13] #49 closed, assigned to nobody

[2020-11-09 12:02] civanch opened #50 "Switch GEANT4 branch to the new version 10.7cand00"
A new Geant4 reference version is available : ~vnivanch/public/geant4-10-07-cand-00
This Geant4 version is very close to the final 10.7, which is our target for the Run-3.
We need to use this new version in GEANT4 special IB for early testing. we have ~2 weeks when we still have a chance to feedback Geant4 if any problem will be discovered.

Additionally to the code new data files were updated:
~v

[2020-11-09 12:03] cmsbuild commented on #50
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-11 17:24] civanch commented on #50
@mrodozov , @smuzaffar , this version of Geant4 is very similar to the final 10.7, data files will not be changed anymore, so such migration will cover most part of the migration to our target version 10.7. It would be beneficial if we will have such IBs .

[2020-11-11 18:27] mrodozov commented on #50
we can use the current config for the IB without and then switch to the old one for an IB with VecGeom.
In short yes I'll just open two prs to be merged

[2020-11-11 18:30] smuzaffar commented on #50
@civanch , is there any geant4 in their official github repo for this? Also looks like data files are not yet available on geant4 download site. How can we make sure that the data files we get from your home area will be the one they will upload to their site?

[2020-11-11 19:10] civanch commented on #50
@smuzaffar , datafiles will be public when 10.7 will be released. I do not expect they will be different. The only question which is not clear to me: I may provide link to cvmfs of geant4 and not copy data structure to my afs. What is better?

Concerning code itself - there is a branch in git. In past I tried to provide a link to a branch but you have no permission to take it.

When 10.7 will be r

[2020-11-16 16:39] smuzaffar commented on #50
@civanch , we now have two IBs for this
- G4VECGEOM_X : with VecGeom
- GEANT4: wiout vecgeom
11h00 Ibs for both of these flavors building and will soon be available for use.

[2020-11-16 16:39] #50 closed, assigned to nobody

[2020-11-16 17:19] civanch commented on #50
Thanks!

[2020-12-04 12:14] civanch opened #51 "Switch to Geant4 10.7"
New version of Geant4 is available: https://github.com/Geant4/geant4/releases/tag/v10.7.0

Migration to this version will be done in two steps: 1st include into CMSSW_11_3_GEANT4_X and into CMSSW_11_3_G4VECGEOM_X, after validation it will be proposed for CMSSW_11_3_X.

New version of external tools are needed:
1) CLHEP 2.4.4.0: https://proj-clhep.web.cern.ch/DISTRIBUTION/
2) VecGeom v01.01.08: htt

[2020-12-04 12:15] cmsbuild commented on #51
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-05 10:48] civanch commented on #51
@mrodozov , @smuzaffar , this Geant4 version 10.7 is practically the same as one we already integrated 10.7cand00. The main difference - I give links to official git repository instead of making private copy. New CLHEP and VecGeom are minor bug fix releases.

[2020-12-07 14:56] civanch commented on #51
@mrodozov , @smuzaffar , Just now a problem was identified: in build specification an extra directory for includes should be added:  $GEANT4CORE_BASE/include/ (until now all includes were in $GEANT4CORE_BASE/include/Geant4). This is a bug, which will be fixed in the first patch.

[2020-12-07 17:52] mrodozov commented on #51
I see something breaking in that compilation job not sure what yet, although I built the external first to be sure it builds (and it went fine).
So from what I understand this means this line
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_3_X/geant4_vecgeom/geant4-toolfile.spec#L43
should not be $GEANT4CORE_BASE/include/Geant4 but we have to temporarily change it to $GEANT4CORE_BASE/include
on

[2020-12-07 22:42] civanch commented on #51
@mrodozov , we need both places for includes.

[2020-12-17 23:09] mrodozov commented on #51
The two IBs are built, closing

[2020-12-17 23:09] #51 closed, assigned to nobody

[2021-02-05 16:19] civanch opened #52 "Switch to Geant4 10.7p01"
The first patch to Geant4 10.7 is available: https://github.com/Geant4/geant4/releases/tag/v10.7.1

This patch includes many mainly technical fixes, which should not change physics. One fix the build of PLT sub-library build, now there is no need anymore to add to path a special place for includes.

Migration to this version should starts from including into  CMSSW_11_3_GEANT4_X with native geomet

[2021-02-05 16:19] cmsbuild commented on #52
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-09 18:07] mrodozov commented on #52
should go to geant4 with vecgeom (note for myself)

[2021-02-09 18:11] civanch commented on #52
CMSSW_11_3_GEANT4_X branch - native geometry
CMSSW_11_3_G4VECGEOM_X - with VecGeom

For CMSSW_11_3_0_pre3_G410.7.1 release the version with VecGeom

[2021-02-14 19:29] civanch commented on #52
It is done.

[2021-02-14 19:29] #52 closed, assigned to nobody

[2021-06-14 08:16] civanch opened #53 "Switch to Geant4 10.7p02"
The Geant4 team provide a new patch 10.7p02:  https://geant4.web.cern.ch/support/download

This patch includes mainly technical fixes, so it is possible first check on regression the master. If the regression will be broken, then this version should go some testing to GEANT4 and G4VECGEOM branches first.

[2021-06-14 08:16] cmsbuild commented on #53
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-17 16:06] mrodozov commented on #53
@civanch you want me to try it against cmsdist/master, if it works we get it as it is, if it doesn't we first put it in

https://github.com/cms-sw/cmsdist/tree/IB/CMSSW_12_0_X/geant4
https://github.com/cms-sw/cmsdist/tree/IB/CMSSW_12_0_X/geant4_vecgeom

to be fixed and then to cmsdist/master when it's fixed. Did I got it correct ?

[2021-06-17 17:10] civanch commented on #53
@mrodozov , if we see no regression when compare with the master, this will not means that this patch is wrong or buggy, it simply will require more complicate statistics test. We should start from geant4 and geant4_vecgeom IBs and after will ask a validation campaign.

[2021-06-17 18:25] mrodozov commented on #53
there is no difference between
https://github.com/cms-sw/cmsdist/tree/IB/CMSSW_12_0_X/geant4_vecgeom
and
https://github.com/cms-sw/cmsdist/tree/IB/CMSSW_12_0_X/master
for geant4 and vecgeom.
we stopped building geant4_vecgeom because of this (maybe? don't remember)
we can get the new tag on the geant4_vecgeom branch (and the non_vecgeom branch) and start building it again

[2021-06-17 18:36] civanch commented on #53
@mrodozov , yes, the master and geant4_vecgeom are identical for some time since we updated master to the previous Geant4 tag. I agree, that 10.7p02 should be built in this branch. If last time this was built long ago we may not expect regression but we should not worry about too much.

[2021-06-21 12:41] civanch commented on #53
#7041 and #7042 are merged

[2021-06-21 12:41] #53 closed, assigned to nobody

[2021-11-08 11:48] civanch opened #55 "Switch G4VECGEOM to Geant4 10.7ref09"
Now Geant4 team is working on the new release 11.0. In order to be better prepared would it be possible to try to include Geant4 reference version and make a new G4VECGEOM IB ?

Geant4 10.7ref09 can be taken from: /afs/cern.ch/user/v/vnivanch/public/geant4.11.0/Geant4.10.7.9.tar.gz

There is a difficulty connected with DD4Hep, which also depend on Geant4 and it is not known if the current DD4Hep w

[2021-11-08 11:48] cmsbuild commented on #55
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-08 12:36] smuzaffar commented on #55
@ddaina , can you please take care of this?

[2021-11-09 07:35] ddaina commented on #55
FYI: https://github.com/cms-sw/cmsdist/pull/7436

[2022-02-04 08:42] civanch commented on #55
+1

[2022-02-04 08:42] #55 closed, assigned to nobody

[2022-02-04 08:47] civanch opened #56 "Switch G4VECGEOM and GEANT4 branches to Geant4 11.0"
We need to migrate Geant4 branches to the new Geant4 version 11.0.0 :
https://github.com/Geant4/geant4/releases

This version required update of the data files: https://geant4.web.cern.ch/support/download
G4EMLOW8.0 and G4PARTICLEXS4.0

[2022-02-04 08:47] cmsbuild commented on #56
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-07 08:10] smuzaffar commented on #56
@iarspider , can you please take care of it?

[2022-02-07 08:13] smuzaffar commented on #56
cmsdist branches where this should be updated are
- IB/CMSSW_12_3_X/geant4
- IB/CMSSW_12_3_X/geant4_vecgeom

[2022-02-08 17:00] smuzaffar commented on #56
@iarspider FYI

[2022-02-09 10:20] iarspider commented on #56
@smuzaffar on it.

[2022-02-10 16:20] smuzaffar commented on #56
thanks @iarspider
@civanch  @bsunanda , today we have first 12.3.X (GEANT4 and G4VECGEOM) IBs with geant4 11.0.0 available

[2022-02-10 16:20] #56 closed, assigned to nobody

[2022-02-10 17:13] civanch commented on #56
Thanks!

[2022-03-08 15:32] civanch opened #57 "Migration of Geant4 branches to Geant4 11.0.1"
There is the first patch to geant4 release 11.0: https://github.com/Geant4/geant4/releases
Please, provide migration of GEANT4 and G4VECGEOM branches to this version of Geant4.

[2022-03-08 15:33] cmsbuild commented on #57
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-08 15:34] smuzaffar commented on #57
@iarspider , can you please take care of it?

[2022-03-09 14:31] iarspider commented on #57
@smuzaffar on it.

[2022-03-09 14:54] smuzaffar commented on #57
@civanch  , following cmsdist PRs updates geant4 11.0.1 for special G4 IBs
- g4 with vecgeom: https://github.com/cms-sw/cmsdist/pull/7678
- g4: https://github.com/cms-sw/cmsdist/pull/7679

[2022-03-09 14:54] #57 closed, assigned to nobody

[2022-07-01 15:27] civanch opened #60 "Migration of Geant4 branches to Geant4 11.0.6"
Geant4 11.1beta release is available. In order to validate it and perform R&D efforts for CMS simulation it is needed to create a new geant4 version (better to call it 11.0.6 == geant4-11-00-ref-06) and use this version of Geant4 inside GEANT4 and G4VECGEOM branches.

beta release is available via https://geant4.web.cern.ch/support/download_beta

[2022-07-01 15:27] cmsbuild commented on #60
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-01 15:28] civanch commented on #60
@iarspider , please, take care.

[2022-07-04 17:57] iarspider commented on #60
Done with  cms-sw/cmsdist#7970 and  cms-sw/cmsdist#7971

[2022-07-04 17:57] #60 closed, assigned to iarspider

[2022-08-30 18:07] civanch opened #61 "Migration Geant4 branches to Geant4 11.0.7"
Geant4 11.0.7 reference version is available. Please update GEANT4 and G4VECGEOM branches. Code is available via:
http://vnivanch.web.cern.ch/vnivanch/hadronic/geant4.11.0.7.tag.gz

After that it would be interesting to update to the new DD4hep version v01-22 available on official url: https://github.com/AIDASoft/DD4hep , which should be used for testing in GEANT4 and G4VECGEOM branches.

[2022-08-30 18:08] cmsbuild commented on #61
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-08-31 09:04] smuzaffar commented on #61
@iarspider @aandvalenzuela  can you please take care of it?

[2022-09-09 11:03] civanch commented on #61
Is done in https://github.com/cms-sw/cmsdist/pull/8060 and https://github.com/cms-sw/cmsdist/pull/8061

[2022-09-09 11:03] #61 closed, assigned to iarspider

[2022-10-06 11:20] civanch opened #63 "Migration Geant4 branches to Geant4 11.0.8"
Geant4 11.0.7 reference version is available. Please update GEANT4 and G4VECGEOM branches. Code is available via:
http://vnivanch.web.cern.ch/vnivanch/hadronic/geant4.11.0.8.tag.gz

The difference with the previous reference version geant4.11.0.7 is mainly technical, physics results should be unchanged. We requesting this update in order to see if any issue appears for CMSSW and to be able continu

[2022-10-06 11:20] cmsbuild commented on #63
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-06 14:23] civanch commented on #63
@iarspider , this is a relatively simple update. I have prepared tar file privately, because it is an internal geant4 reference version.

[2022-10-07 12:55] iarspider commented on #63
@civanch the URL gives me 404 error, could you please check?

[2022-10-07 13:00] iarspider commented on #63
nvm, figured the right url.

[2022-10-07 13:07] civanch commented on #63
@iarspider , please, try again - I have changed permissions with chmod.

[2022-10-31 17:36] civanch opened #64 "Migration Geant4 branches to Geant4 11.0.9"
Geant4 11.0.9 reference version is available. Please update GEANT4 and G4VECGEOM branches. We need this to control Geant4 developments.

Code is available via:
http://vnivanch.web.cern.ch/vnivanch/hadronic/

File geant4.11.0.9.tag.gz

The difference with the previous reference version geant4.11.0.8 is mainly technical, physics results should be unchanged. We requesting this update in order to see

[2022-10-31 17:36] cmsbuild commented on #64
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-31 17:40] civanch commented on #63
Thanks!

[2022-10-31 17:40] #63 closed, assigned to iarspider

[2022-11-02 14:56] #64 closed, assigned to iarspider

[2022-11-14 12:23] civanch opened #65 "Migration Geant4 branches to Geant4 11.0.10"
Geant4 11.0.9 reference version is available. Please update GEANT4 and G4VECGEOM branches. We need this to control Geant4 developments.

Code is available via:
http://vnivanch.web.cern.ch/vnivanch/hadronic/

File geant4.11.0.10.tag.gz

The difference with the previous reference version geant4.11.0.9 is mainly technical, physics results should be unchanged. We requesting this update in order to see

[2022-11-14 12:23] cmsbuild commented on #65
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-23 07:10] smuzaffar commented on #65
@aandvalenzuela , the geant4 branch should be called `cms/vVERSION`, for now I have created a new `cms/v11.0.10` from your `geant4-11.0.10` branch. Please also update the G4 data external ( as requested in the request)

[2022-11-27 10:32] civanch commented on #65
Thnanks!

[2022-11-27 10:32] #65 closed, assigned to nobody